.button {
  font-size: $size-large;
  padding: 10px 25px;
  border-radius: 15px;
  border: 2px solid;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  transition: border-color .5s ease;
}

.button-expands {
  transition: padding .5s ease;
  &:hover {
    padding: 10px 50px;
  }
}

.button-dark-bg {
  color: $white;
  border-color: $white ;
  &:hover {
    text-decoration: none;
    color: $white;
    border-color: $red;
  }
}