{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="I am Ronin Dusette, a photographer and full-stack developer from California.">
    <meta name="keywords" content="portrait photographer, event photography, website development, programming">
	<meta name="author" content="Ronin Dusette">
	<meta name="identifier-url" content="https://dusette.net">
    <meta name="publisher" content="Dusette Creative">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static 'frontend/img/icons/favicon.ico' %}" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Cambay' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'frontend/css/vendor/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/css/main.css' %}">
</head>