{% load render_bundle from webpack_loader %}
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>DEV:PIC:VID => Dusette Creative</title>
    <meta name="description" content="I am Ronin Dusette, a photographer and full-stack developer from California.">
    <meta name="keywords" content="portrait photographer, event photography, website development, programming">
    <meta name="author" content="Ronin Dusette">
    <meta name="identifier-url" content="https://dusette.net">
    <meta name="publisher" content="Dusette Creative">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>

<div id="site-content">
</div>

{% render_bundle 'main' %}

</body>
</html>
