{% extends 'frontend/base.html' %}
{% load static %}


{% block content %}
    <div class="home-hero-wrapper">
        <div class="home-hero-overlay"></div>
        <div class="home-hero-text text-center">
            <h1 class="text-light-white">
                <strong>
                    Hi! I am Ronin Dusette,
                    <br>
                    and I like to create things.
                </strong>
            </h1>
        </div>
    </div>
    <div class="container-fluid home-section-2-wrapper pb-5">
        <br>
        <br>
        <br>
        <div class="row px-5 mx-5">
            <div class="col-12 col-md-4 px-5 text-center" id="home-what-i-do-box-1">
                <div class="inner-what-i-do-container py-5">
                    <h3><i class="fas fa-terminal fa-6x"></i></h3>
                    <ul class="list-inline what-i-do">
                        <li>Network Security</li>
                        <li>Full-Stack Dev</li>
                        <li>Linux Admin</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-4 px-5 text-center" id="home-what-i-do-box-2">
                <div class="inner-what-i-do-container py-5">
                    <h3><i class="fas fa-camera fa-6x"></i></h3>
                    <ul class="list-inline what-i-do">
                        <li>Portraits</li>
                        <li>Fine Art</li>
                        <li>Events</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-4 px-5 text-center" id="home-what-i-do-box-3">
                <div class="inner-what-i-do-container py-5">
                    <h3><i class="fas fa-video fa-6x"></i></h3>
                    <ul class="list-inline what-i-do">
                        <li>Documentary</li>
                        <li>Travel</li>
                        <li>Music</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row mt-5 mb-3">
            <div class="col-12 text-center">
                <a class="button-dark-bg" href="/contact/">Let's Create</a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row home-section-3-row">
            <div class="col-12">

            </div>
        </div>
    </div>
{% endblock %}