{% extends 'frontend/base.html' %}
{% load static %}


{% block content %}
    <div class="home-hero-wrapper d-flex align-items-center justify-content-center" id="home-hero-wrapper">
        <div class="home-hero-overlay"></div>
        <div class="home-hero-text text-center pt-2">
            <h1 class="text-light-white py-1 px-5">
                <strong>
                    Hi! I am Ronin Dusette, <br> and I like to create things.
                </strong>
            </h1>
        </div>
    </div>
    <div class="container-fluid home-section-2-wrapper pb-5 position-relative">
    <div class="grey-bg-texture"></div>
        <br>
        <br>
        <br>
        <div class="row px-5 mx-5">
            <div class="col-12 col-md-4 px-5 text-center" id="home-what-i-do-box-1">
                <div class="inner-what-i-do-container py-5">
                    <a href="#" class="what-i-do-icon-link"><i class="fas fa-terminal fa-6x mb-5"></i></a>
                    <ul class="list-inline what-i-do">
                        <li><a href="#">Network Security</a></li>
                        <li><a href="#">Full-Stack Dev</a></li>
                        <li><a href="#">Linux Admin</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-4 px-5 text-center" id="home-what-i-do-box-2">
                <div class="inner-what-i-do-container py-5">
                    <a href="#" class="what-i-do-icon-link"><i class="fas fa-camera fa-6x mb-5"></i></a>
                    <ul class="list-inline what-i-do">
                        <li><a href="#">Portraits</a></li>
                        <li><a href="#">Fine Art</a></li>
                        <li><a href="#">Events</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-4 px-5 text-center" id="home-what-i-do-box-3">
                <div class="inner-what-i-do-container py-5">
                    <a href="#" class="what-i-do-icon-link"><i class="fas fa-video fa-6x mb-5"></i></a>
                    <ul class="list-inline what-i-do">
                        <li><a href="#">Documentary</a></li>
                        <li><a href="#">Travel</a></li>
                        <li><a href="#">Music</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row mt-5 mb-3">
            <div class="col-12 text-center">
                <a class="button-dark-bg" href="/contact/">Let's Create</a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
            </div>
        </div>
    </div>
{% endblock %}