{% load static %}


<div class="fixed-top navbar-underlay">

</div>
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-transparent">
    <a class="navbar-brand mx-auto" href="/">
        <img class="nav-brand-image" src="{% static 'frontend/img/icons/logo-plain.png' %}" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">ART</a>
            </li>
            <li class="nav-item">
                <em><i class="fas fa-ellipsis-v text-light-white pt-3 mx-3 text-"></i></em>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">DEV</a>
            </li>
            <li class="nav-item">
                <em><i class="fas fa-ellipsis-v text-light-white pt-3 mx-3 text-"></i></em>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">TXT</a>
            </li>
        </ul>
    </div>
</nav>