h1, h2, h3, h4, li {
    font-family: 'Julius Sans One', sans-serif;
}

h5, h6, p {
    font-family: 'Cambay', sans-serif;
}

html, body {
    overflow-x: hidden;
    background-color: #212121;
}

h1 {
    font-size: 2.7rem;
    font-weight: bolder;
}

h2 {
    font-size: 2.3rem;
    font-weight: bolder;
}

body {
    background: black;
}

#site-content {
}

#loader-wrapper {
    overflow: hidden;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99999;
    background: url("../img/background-textures/grey-background-texture.jpg") no-repeat center center rgba(0, 0, 0, 1);
    background-size: cover;
    transition: display .8s ease;
    animation: loader-slide-away 4s ease-out 2.5s forwards 1;
}

@keyframes loader-slide-away {

    0% {
        bottom: 0;
    }

    100% {
        bottom: 500%;
    }
}

#loader-wrapper::before {
    position: absolute;
    background-color: rgba(0, 0, 0, .8);
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


.loader-img-wrapper {
    position: relative;
    margin: auto;
    z-index: 10;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loader-img {
    position: relative;
    width: 5%;
    height: auto;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

#loader-text {
    margin-top: -60px;
    position: relative;
    color: #F5F3F5;
    font-size: 10rem;
    height: auto;
    width: auto;
}

#loader-text-word {
    font-size: 2.2rem;
}

#loader-text-dot-1 {
    -webkit-animation: dots 1s linear infinite;
    animation: dots 1s linear infinite;
}

#loader-text-dot-2 {
    -webkit-animation: dots 1.5s linear infinite;
    animation: dots 1.5s linear infinite;
}

#loader-text-dot-3 {
    -webkit-animation: dots 2s linear infinite;
    animation: dots 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {

        -webkit-transform: rotate(0deg) scale(1);
    }
    50% {
        -webkit-transform: rotate(180deg) scale(1.5);
    }
    100% {
        -webkit-transform: rotate(360deg) scale(1);
    }
}

@keyframes spin {

    0% {
        transform: rotate(0deg) scale(1);
    }


    50% {
        transform: rotate(180deg) scale(1.5);
    }

    100% {
        transform: rotate(360deg) scale(1);
    }
}

@-webkit-keyframes dots {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        color: #F5F3F5;
    }
    50% {
        -webkit-transform: translate3d(0, 130px, 0);
        color: red;
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        color: #F5F3F5;
    }
}

@keyframes dots {
    0% {

        transform: translate3d(0, 0, 0);
        color: #F5F3F5;
    }
    50% {
        transform: translate3d(0, 130px, 0);
        color: red;
    }
    100% {
        transform: translate3d(0, 0, 0);
        color: #F5F3F5;
    }
}

.text-dark-brown {
    color: #302B27;
}

.text-light-white {
    color: #F5F3F5;
}

.text-red {
    color: #aa0901;
}

.img-full {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.link-light {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.0rem;
    color: #F5F3F5;
    transition: color .5s ease;
    text-decoration: none !important;
}

.link-light:hover {
    color: #aa0901;
    cursor: pointer;
}

.link-dark {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.0rem;
    color: #302B27;
    transition: color .5s ease;
    text-decoration: none !important;
}

.link-dark:hover {
    color: #aa0901;
    cursor: pointer;
}

.nav-link {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    color: #F5F3F5 !important;
    text-decoration: none;
    cursor: pointer;
    transition: color .5s ease;
}

.nav-link:hover {
    color: #aa0901 !important;
    text-shadow: 1px -1px black;
}

.nav-brand-image {
    width: 7%;
}

.home-hero-wrapper {
    height: 100vh;
    width: 100vw;
    background: url("../img/hero-images/dusette-creative-home-background.png") no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    position: fixed;
}

.navbar-underlay {
    background-color: black;
    opacity: .8;
    min-height: 90px;
}

.home-section-2-wrapper {
    background-color: #212121;
    color: #F5F3F5;
    min-height: 500px;
}

.what-i-do > li > a {
    font-size: 1.4rem;
    color: #F5F3F5;
    transition: color .5s ease;
    text-decoration: none;
}

.what-i-do > li > a:hover {
    color: #aa0901;
    cursor: pointer;
}

.what-i-do-icon-link > i {
    font-size: 9rem;
    text-decoration: none;
    color: #F5F3F5;
    transition: color .5s ease;
}

.what-i-do-icon-link > i:hover {
    color: #aa0901;
    cursor: pointer;
}

.inner-what-i-do-container {
    border-radius: 15px;
    border: 5px solid #F5F3F5;
    transition: border-color .5s ease;
}

.inner-what-i-do-container:hover {
    border-color: #aa0901;
}

.home-hero-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: .2;
}

.home-hero-text {
    border-radius: 10%;
    background-color: #212121;
    opacity: .9;
}

.button-dark-bg {
    font-size: 1.7rem;
    padding: 10px 25px;
    background-color: transparent;
    color: #F5F3F5;
    border: 2px solid #F5F3F5;
    border-radius: 15px;
    text-decoration: none;
    transition: border-color .5s ease, padding .5s ease;
}

.button-dark-bg:hover {
    text-decoration: none;
    color: #F5F3F5;
    border-color: #aa0901;
    padding: 10px 50px;
}

.recent-article-box-wrapper {
    border-left: 5px solid #343a40;
    border-right: 5px solid #343a40;
    color: #F5F3F5;
    border-top: none;
    min-height: 200px;
}

.grey-bg-texture {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("../img/background-textures/grey-background-texture.jpg") no-repeat center center;
    background-size: cover;
    opacity: .1;
}

.grey-bg-texture-inverted {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("../img/background-textures/grey-background-texture.jpg") no-repeat center center;
    background-size: cover;
    opacity: .1;
    transform: rotateZ(180deg) rotateY(180deg);
}

.home-section-3-container {
    min-height: 600px;
    background-color: #212121;
}

.home-section-3-border {
    border: none;
    min-height: 0;
    transition: border 2.5s ease, min-height 3.5s ease;
}

.home-section-3-border-in-view {
    position: relative;
    min-height: 600px;
    border: 5px solid #F5F3F5;
    overflow: hidden;
}

.home-section-3-border-in-view > * {
    white-space: nowrap;
    animation: falling-icons linear infinite;
    z-index: 500;
    color: #F5F3F5;
    opacity: .3;
    top: -250px;
}

@keyframes falling-icons {
    0% {
        top: -250px;
    }
    100% {
        top: 150%;
    }
}

.home-section-3-text-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    height: 0;
    background-color: black;
    opacity: .7;
    color: transparent;
    width: 40%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-transition: height .5s ease, border-bottom-left-radius 1.5s linear, border-bottom-right-radius 2.5s linear, color 3.5s ease-in;
    -moz-transition: height .5s ease, border-bottom-left-radius 1.5s linear, border-bottom-right-radius 2.5s linear, color 3.5s ease-in;
    -ms-transition: height .5s ease, border-bottom-left-radius 1.5s linear, border-bottom-right-radius 2.5s linear, color 3.5s ease-in;
    -o-transition: height .5s ease, border-bottom-left-radius 1.5s linear, border-bottom-right-radius 2.5s linear, color 3.5s ease-in;
    transition: height .5s ease, border-bottom-left-radius 1.5s linear, border-bottom-right-radius 2.5s linear, color 3.5s ease-in;
    z-index: 900;
}

.home-section-3-text-wrapper-open {
    position: relative;
    height: 100px;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    color: #F5F3F5;
}

.home-section-3-border-in-view::after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: '';
    background-color: black;
    opacity: 0;
    z-index: 1000;
    -webkit-animation: home-section-3-overlay-fade-to-black 6s ease-in forwards;
    animation: home-section-3-overlay-fade-to-black 6s ease-in forwards;
    -webkit-animation-delay: 15s;
    animation-delay: 15s;
}

@keyframes home-section-3-overlay-fade-to-black {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.lets-create-cta {

}