h1, h2, h3, h4, li {
    font-family: 'Julius Sans One', sans-serif;
}

h5, h6, p {
    font-family: 'Cambay', sans-serif;
}

html, body {
    overflow-x: hidden;
}

h1 {
    font-size: 2.7rem;
    font-weight: bolder;
}

h2 {
    font-size: 2.3rem;
    font-weight: bolder;
}

.text-dark-brown {
    color: #302B27;
}

.text-light-white {
    color: #F5F3F5;
}

.text-red {
    color: #aa0901;
}

.img-full {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.link-light {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.0rem;
    color: #F5F3F5;
    transition: color .5s ease;
    text-decoration: none !important;
}

.link-light:hover {
    color: #aa0901;
    cursor: pointer;
}

.link-dark {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.0rem;
    color: #302B27;
    transition: color .5s ease;
    text-decoration: none !important;
}

.link-dark:hover {
    color: #aa0901;
    cursor: pointer;
}

.nav-link {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    color: #F5F3F5 !important;
    text-decoration: none;
    cursor: pointer;
    transition: color .5s ease;
}

.nav-link:hover {
    color: #aa0901 !important;
    text-shadow: 1px -1px black;
}

.nav-brand-image {
    width: 7%;
}

.home-hero-wrapper {
    height: 100vh;
    width: 100vw;
    background: url("../img/hero-images/dusette-creative-home-background.png") no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
}

.navbar-underlay {
    background-color: black;
    opacity: .8;
    min-height: 90px;
}

.home-section-2-wrapper {
    background-color: #212121;
    color: #F5F3F5;
    min-height: 500px;
}

.what-i-do > li > a {
    font-size: 1.4rem;
    color: #F5F3F5;
    transition: color .5s ease;
    text-decoration: none;
}

.what-i-do > li > a:hover {
    color: #aa0901;
    cursor: pointer;
}

.what-i-do-icon-link > i {
    font-size: 9rem;
    text-decoration: none;
    color: #F5F3F5;
    transition: color .5s ease;
}

.what-i-do-icon-link > i:hover {
    color: #aa0901;
    cursor: pointer;
}

.inner-what-i-do-container {
    border-radius: 15px;
    border: 5px solid #F5F3F5;
    transition: border-color .5s ease;
}

.inner-what-i-do-container:hover {
    border-color: #aa0901;
}

.home-section-3-row {
    background-color: #F5F3F5;
}

.home-hero-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: .2;
}

.home-hero-text {
    border-radius: 10%;
    background-color: #212121;
    opacity: .9;
}

.button-dark-bg {
    font-size: 1.7rem;
    padding: 10px 25px;
    background-color: transparent;
    color: #F5F3F5;
    border: 2px solid #F5F3F5;
    border-radius: 15px;
    text-decoration: none;
    transition: border-color .5s ease, padding .5s ease;
}

.button-dark-bg:hover {
    text-decoration: none;
    color: #F5F3F5;
    border-color: #aa0901;
    padding: 10px 35px;
}

.home-section-3-lower-row {
    background-color: #F5F3F5;
    min-height: 200px;
}

.recent-article-box-wrapper {
    border-left: 5px solid #343a40;
    border-right: 5px solid #343a40;
    color: #F5F3F5;
    border-top: none;
    min-height: 200px;
}