$black: #212121;
$red: red;
$white: #F5F3F5;
$dark-brown: #302B27;
$dark-grey: #404040;
$light-grey: #343a40;


.text-dark-brown {
  color: $dark-brown;
}

.text-light-white {
  color: $white;
}

.text-red {
  color: $red;
}

.text-light-grey {
  color: $light-grey;
}

.text-dark-grey {
  color: $dark-grey
}

.text-black {
  color: $black;
}