$black: #212121;
$red: red;
$white: #E7E4DA;
$dark-brown: #302B27;
$dark-grey: #2B303B;
$light-grey: #728086;


.text-dark-brown {
  color: $dark-brown;
}

.text-light-white {
  color: $white;
}

.text-red {
  color: $red;
}

.text-light-grey {
  color: $light-grey;
}

.text-dark-grey {
  color: $dark-grey
}

.text-black {
  color: $black;
}